.machine {
    background: #333333;
    width: 700px;
    height: 700px;
    padding: 50px;
    margin: 25px;
    display: flex;
}

.move {
    position: absolute;
    z-index: 100; 
    background-color: red;
}

.clamp-doll-item {
    position: absolute;
    z-index: 99;  
}