.machine {
    background: lightgreen;
    /* display: grid;
    grid-template-columns: auto auto auto auto; */
    width: 800px;
    height: 800px;
}

.move {
    position: absolute;
    z-index: 100; 
    background-color: red;
}